<div class="row">
  <div class="col-md-6">
    <h3>Day 1 . Feb 15th </h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td> Welcome</td> </tr>
      <tr> <td>09:30</td>  <td>Introduction to git.liacs.nl </td> </tr>
      <tr> <td>09:40</td>  <td>Collaboration using git and gitlab </td> </tr>
      <tr> <td>10:45</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:00</td>  <td>Collaboration using git and gitlab </td> </tr>
      <tr> <td>12:00</td>  <td>Coffee break</td> </tr>
      <tr> <td>12:15</td>  <td>Collaboration using git and gitlab </td> </tr>
      <tr> <td>12:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2. Feb 16th  </h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Welcome</td> </tr>
      <tr> <td>09:15</td>  <td>Automated testing</td> </tr>
      <tr> <td>10:15</td>  <td>Coffee break</td> </tr>
      <tr> <td>10:30</td>  <td>Automated testing</td> </tr>
      <tr> <td>11:00</td>  <td>Modular code development</td> </tr>
      <tr> <td>11:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:45</td>  <td>Modular code development</td> </tr>
      <tr> <td>12:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 3. Feb 17th  </h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Welcome</td> </tr>
      <tr> <td>09:15</td>  <td>Documentation</td> </tr>
      <tr> <td>10:15</td>  <td>Coffee break</td> </tr>
      <tr> <td>10:30</td>  <td>Documentation</td> </tr>
      <tr> <td>11:00</td>  <td>Bring Your Own Code Exercise</td> </tr>
      <tr> <td>11:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:45</td>  <td>Bring Your Own Code Exercise</td> </tr>
      <tr> <td>12:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
