<div class="row">
  <div class="col-md-6">
    <h3>Day 1 . Nov 16th </h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td> Welcome</td> </tr>
      <tr> <td>09:15</td>  <td>Social Coding </td> </tr>
      <tr> <td>09:30</td>  <td>Open repositories </td> </tr>
      <tr> <td>10:00</td>  <td>Licenses </td> </tr>
      <tr> <td>10:45</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:00</td>  <td>Registries</td> </tr>
      <tr> <td>11:30</td>  <td>Citations</td> </tr>
      <tr> <td>12:00</td>  <td>Coffee break</td> </tr>
      <tr> <td>12:15</td>  <td>Checklists</td> </tr>
      <tr> <td>12:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
      <tr> <td>14:00</td>  <td>(optional) Git</td> </tr>
      <tr> <td>16:00</td>  <td>Git End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2. Nov 17th  </h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Welcome</td> </tr>
      <tr> <td>09:15</td>  <td>Reproducible Research</td> </tr>
      <tr> <td>09:30</td>  <td>Recording Dependencies</td> </tr>
      <tr> <td>10:15</td>  <td>Coffee break</td> </tr>
      <tr> <td>10:30</td>  <td>Workflows</td> </tr>
      <tr> <td>11:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:45</td>  <td>Sharing code and data</td> </tr>
      <tr> <td>12:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 3. Nov 18th  </h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Welcome</td> </tr>
      <tr> <td>09:15</td>  <td>Documentation I</td> </tr>
      <tr> <td>10:15</td>  <td>Coffee break</td> </tr>
      <tr> <td>10:30</td>  <td>Documentation II</td> </tr>
      <tr> <td>11:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:45</td>  <td>Git Branch Design</td> </tr>
      <tr> <td>12:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4. Nov 19th  </h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Welcome</td> </tr>
      <tr> <td>09:15</td>  <td>Testing</td> </tr>
      <tr> <td>10:15</td>  <td>Coffee break</td> </tr>
      <tr> <td>10:30</td>  <td>Automated Testing</td> </tr>
      <tr> <td>11:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:45</td>  <td>Modular Code Development</td> </tr>
      <tr> <td>12:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
